<div class="profile_content">
  <div id="profile" class="profile hide">
    <div class="profile_details">
      <img src="https://cdn.discordapp.com/avatars/<%= locals.userData.id %>/<%= locals.userData.avatar %>">
      <div class="name_job">
        <div class="name"><%= locals.userData.username %></div>
      </div>
    </div>
    <a href="#">
      <i class='bx bx-log-out' id="log_out"></i>
    </a>
  </div>
  <div id="loginBtn" class="profile">
    <div class="profile_details">
        <a href="/login">Login</a>
    </div>
  </div>
</div>

<script>
  const profile = document.getElementById('profile')
  const loginBtn = document.getElementById('loginBtn')

  if ('<%= locals.loggedIn %>' === 'true') {
    profile.classList.remove('hide')
    loginBtn.classList.add('hide')
  } else {
    profile.classList.add('hide')
    loginBtn.classList.remove('hide')
  }
</script>