<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <a href="/"><img width="50px" src="images/infinity.png"></a>
      <a href="/"><div class="logo_name">Limitless</div></a>
    </div>
    <i class='bx bx-menu' id="btn"></i>
    <a href="/"><img class="below-infinity" width="50px" src="images/infinity.png"></a>
  </div>
  <ul class="nav_list">
    <li>
      <a href="/">
        <i class='bx bx-home-alt-2'></i>
        <span class="links_name">Home</span>
      </a>
      <span class="tooltip">Home</span>
    </li>
    <li>
      <a href="/dashboard">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-pound'></i>
        <span class="links_name">Premium</span>
      </a>
      <span class="tooltip">Premium</span>
    </li>
    <li>
      <a href="https://discord.gg/DGNjJ2YnU3">
        <i class='bx bxl-discord-alt'></i>
        <span class="links_name">Discord</span>
      </a>
      <span class="tooltip">Discord</span>
    </li>
  </ul>
  <%- include('profile.ejs') %> 
</div>

<script>
  let btn = document.querySelector('#btn')
  let sidebar = document.querySelector('.sidebar')
  let btnSearch = document.querySelector('#btn-search')
  let btnSearch2 = document.querySelector('#btn-search-2')

  btn.onclick = sidebarToggle

  function sidebarToggle() {
    sidebar.classList.toggle('active')
  }

</script>