<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <a href="/"><img width="50px" src="images/infinity.png"></a>
      <a href="/"><div class="logo_name">Limitless</div></a>
    </div>
    <i class='bx bx-menu' id="btn"></i>
    <a href="/"><img class="below-infinity" width="50px" src="images/infinity.png"></a>
  </div>
  <ul class="nav_list">
    <li>
      <form action="/panel" method="get" id="search">
        <button type="submit" id="btn-search-2" class="displayOff">
          <i class='bx bx-search'></i>
        </button>
        <i class='bx bx-search' id="btn-search"></i>
        <input type="search" name="search" placeholder="Search..." autocomplete="off" value="<%= search %>">
        <input type='submit' class="displayOff">
      </form>
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a href="/dashboard">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="/panel">
        <i class='bx bx-info-circle'></i>
        <span class="links_name">Panel</span>
      </a>
      <span class="tooltip">Panel</span>
    </li>
    <li>
      <a href="/commands">
        <i class='bx bx-toggle-right'></i>
        <span class="links_name">Commands</span>
      </a>
      <span class="tooltip">Commands</span>
    </li>
    </li>
    <li>
      <a href="/configuration">
        <i class='bx bx-cog'></i>
        <span class="links_name">Configuration</span>
      </a>
      <span class="tooltip">Configuration</span>
    </li>
  </ul>
  <%- include('profile.ejs') %> 
</div>

<script>
  let btn = document.querySelector('#btn')
  let sidebar = document.querySelector('.sidebar')
  let btnSearch = document.querySelector('#btn-search')
  let btnSearch2 = document.querySelector('#btn-search-2')

  btn.onclick = sidebarToggle
  btnSearch.onclick = searchClick

  function sidebarToggle() {
    if (sidebar.classList.value.includes('active')) {
        sidebar.classList.remove('active')

        btnSearch.classList.remove('displayOff')
        btnSearch2.classList.add('displayOff')
      } else {
        sidebar.classList.add('active')
        
        btnSearch.classList.add('displayOff')
        btnSearch2.classList.remove('displayOff')
      }
  }

  function searchClick() {
    if (!sidebar.classList.value.includes('active')) {
      sidebar.classList.add('active')

      btnSearch.classList.add('displayOff')
      btnSearch2.classList.remove('displayOff')
    }
  }


  

</script>