<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <a href="/"><img width="50px" src="images/infinity.png"></a>
      <a href="/"><div class="logo_name">Limitless</div></a>
    </div>
    <i class='bx bx-menu' id="btn"></i>
    <a href="/"><img class="below-infinity" width="50px" src="images/infinity.png"></a>
  </div>
  <ul class="nav_list">
    <li>
      <i class='bx bx-search'></i>
      <input type="text" placeholder="Search...">
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user'></i>
        <span class="links_name">User</span>
      </a>
      <span class="tooltip">User</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-chat'></i>
        <span class="links_name">Messages</span>
      </a>
      <span class="tooltip">Messages</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
  </ul>
  <%- include('profile.ejs') %> 
</div>

<script>
  let btn = document.querySelector('#btn')
  let sidebar = document.querySelector('.sidebar')
  let searchBtn = document.querySelector('.bx-search')

  btn.onclick = sidebarToggle
  searchBtn.onclick = searchClick

  function sidebarToggle() {
    sidebar.classList.toggle('active')
  }

  function searchClick() {
    if (!sidebar.classList.value.includes('active')) {
      sidebar.classList.add('active')
    }
  }

</script>