<% for (var i= 1; i < roles.length; i++) { %>
  <tr>
    <td></td>
    <td></td>
    <td class="rolesTd">
      <div class="roleBackground">
        <span style="--dot-color:<%= roles[i].color %>;" class="dot"></span>
        <div class="center"><%= roles[i].name %></div>
      </div>
    </td>
  </tr>
<% } %>