.cardBox{
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
  grid-gap: 30px;
  justify-content: center;
}

.cardBox a{
  text-decoration: none;
}

.cardBox a .card{
  position: relative;
  background: rgba(255, 255, 255, .15);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.cardBox a .card .serverName{
  position: relative;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: auto;
}

.cardBox a .card img{
  border-radius: 50%;
  margin: auto;
}