.center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.col-1 {
  position: absolute;
}

.col-1 h2 {
  font-size: 54px;
  color: #ffffff;
}

.btn-row {
  position: grid;
  grid-template-rows: max-content;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.btn-row a {
  width: 100%;
  color: var(--background-btn);
  background: white;
  padding: 1rem;
  border-radius: 20px;
  text-decoration: none;
}

.btn-row a:hover {
  background: var(--background-btn);
  color: #fff;
}