<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  <!-- Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <title>Limitless Dashboard</title>
</head>
<body>

  <div class="loader">
    <%- include('../partials/loading.ejs') %>
  </div>
  
  <div class="content">
    <%- include(`../partials/${sidepanelType}.ejs`) %>

    <div class="home_content" onclick="homeClick()">
      <%- body %>
    </div>
    
    <%- include('../partials/footer.ejs') %>
  </div>

  <script>
    // LOADER SCREEN
    $(window).on('load', function() {
      $(".loader").fadeOut(1000);
      $(".content").fadeIn(1000);
    })


    let sidebar2 = document.querySelector('.sidebar')
    let homeContent = document.querySelector('.home_content')

    function homeClick() {
      if (sidebar2.classList.value.includes('active')) {
        sidebar2.classList.remove('active')

        if (btnSearch && btnSearch2) {
          btnSearch.classList.remove('displayOff')
          btnSearch2.classList.add('displayOff')
        }
      }
    }
  </script>
</body>
</html>