<!--  -->
<div class="card">
  <div>
    <div class="cardName"></div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="" type="checkbox" checked onchange="toggleChange('', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>