<header>
  <link rel="stylesheet" href="/stylesheets/individual/dashboard.css">
</header>

<div class="cardBox">
  <% for(var i= 0; i < guilds.length; i++) { %>
    <a href="panel?id=<%= guilds[i].id %>">
      <div class="card">
        <div class="serverName"><%= guilds[i].name %></div>
        <img width="80px" src="<%= guilds[i].avatar %>" alt="<%= guilds[i].name %>">
      </div>
    </a>
  <% } %>
</div>