<header>
	<link rel="stylesheet" href="stylesheets/individual/embed-designer.css">
</header>


<!-- Server Name -->
<div class="serverName">
	<center>
		<h1>
			<%= name %>
		</h1>
		<br>
		<h2>
			Embed Designer
		</h2>
	</center>
</div>


<div class="container-embed">
	<div class="embed-side"></div>

	<div class="embed-content">
		<div class="embed-title">Bot went offline!</div>

		<div class="embed-description">Looks like Deadly Shores Roleplay (Deadly Shores Roleplay#2765) just went offline!</div>

		<div class="embed-timestamp"></div>

	</div>
</div>