<header>
  <link rel="stylesheet" href="/stylesheets/shared/index.css">
</header>

<div class="center">

  <div class="col-1">
    <h2>Limitless Dashboard</h2>
  </div>

  <div class="btn-row">
    <a href="#">View Your Panel</a>
    <a href="https://discord.com/api/oauth2/authorize?client_id=814913860900749333&permissions=8&scope=bot">Add Bot To Your Server</a>
  </div>

</div>
