<header>
	<link rel="stylesheet" href="stylesheets/individual/modules.css">
</header>


		<!-- Server Name -->
		<div class="serverName">
			<center>
				<h1>
					<%= name %>
				</h1>
				<br>
				<h2>
					Modules
				</h2>
			</center>
		</div>


		<div class="cardBox">

			<div class="card">
				<div>
					<div class="cardName">Join/Leave Message</div>
					<a href="join-leave-settings" class="settings">
						<i class='bx bx-cog' ></i>
						Settings
					</a>
				</div>
			</div>

		</div>