<header>
  <link rel="stylesheet" href="/stylesheets/individual/premium.css">
</header>

		<!-- Server Name -->
		<center style="margin: 2rem;">
			<h1>
				Premium
			</h1>

			<br>

			<a href="/login" class="button-36" role="button">Buy Premium</a>
		</center>

		<!-- Table On Limitless Versions -->

		<center>
			<div style="overflow-x: auto;">
				<table class="features">
					<thead>
						<tr>
							<th></th>
							<th class="features__cell features__cell--bold features__cell--shaded features__cell--large">Basic</th>
							<th class="features__cell features__cell--bold features__cell--shaded features__cell--large">Roleplay</th>
							<th class="features__cell features__cell--bold features__cell--shaded features__cell--large">Server</th>
							<th class="features__cell features__cell--bold features__cell--shaded features__cell--large">Both</th>
						</tr>
						<tr>
							<th></th>
							<th class="features__cell features__cell--bold features__cell--large">£0</th>
							<th class="features__cell features__cell--bold features__cell--large">£4/mo</th>
							<th class="features__cell features__cell--bold features__cell--large">£6/mo</th>
							<th class="features__cell features__cell--bold features__cell--large">£8/mo</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td class="features__cell features__cell--bold features__cell--shaded" colspan="5">Moderation</td>
						</tr>

						<!-- Kick -->
						<tr>
							<td class="features__cell">Kick</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Ban/Unban -->
						<tr>
							<td class="features__cell">Ban/Unban</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Warn System -->
						<tr>
							<td class="features__cell">Warn System</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Timeout System -->
						<tr>
							<td class="features__cell">Timeout System (Mute)</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Delete Channel -->
						<tr>
							<td class="features__cell">Delete Channel</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Rename Channel -->
						<tr>
							<td class="features__cell">Rename Channel</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Channel Topic -->
						<tr>
							<td class="features__cell">Channel Topic</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Channel Slowmode -->
						<tr>
							<td class="features__cell">Channel Slowmode</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Nickname -->
						<tr>
							<td class="features__cell">Nickname</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Voice Channel Moderation -->
						<tr>
							<td class="features__cell">Voice Channel Moderation</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<tr>
							<td class="features__cell features__cell--bold features__cell--shaded" colspan="5">Configuration</td>
						</tr>

						<!-- Cofiguration -->
						<tr>
							<td class="features__cell">Configuration System</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<tr>
							<td class="features__cell features__cell--bold features__cell--shaded" colspan="5">Utility</td>
						</tr>

						<!-- Announce -->
						<tr>
							<td class="features__cell">Announce</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Calculator -->
						<tr>
							<td class="features__cell">Calculator</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Channel Information -->
						<tr>
							<td class="features__cell">Channel Information</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Embed -->
						<tr>
							<td class="features__cell">Embed</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Role Information -->
						<tr>
							<td class="features__cell">Role Information</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Role User -->
						<tr>
							<td class="features__cell">Role User</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Say -->
						<tr>
							<td class="features__cell">Say</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Server Information -->
						<tr>
							<td class="features__cell">Server Information</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- User Information -->
						<tr>
							<td class="features__cell">User Information</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Tag System -->
						<tr>
							<td class="features__cell">Tag System</td>
							<td class="features__cell features__cell--center">
								Max 5
							</td>
							<td class="features__cell features__cell--center">
								Max 5
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
						</tr>

						<!-- Reaction Roles -->
						<tr>
							<td class="features__cell">Reaction Roles</td>
							<td class="features__cell features__cell--center">
								Max 5
							</td>
							<td class="features__cell features__cell--center">
								Max 5
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
						</tr>

						<!-- Applications -->
						<tr>
							<td class="features__cell">Applications</td>
							<td class="features__cell features__cell--center">
								Max 2
							</td>
							<td class="features__cell features__cell--center">
								Max 3
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
						</tr>

						<!-- Mass Role Add/Remove -->
						<tr>
							<td class="features__cell">Mass Role Add/Remove</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__cross"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Suggestion System -->
						<tr>
							<td class="features__cell">Suggestion System</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								Able to<br>update status
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Ticket System -->
						<tr>
							<td class="features__cell">Ticket System</td>
							<td class="features__cell features__cell--center">
								Max 3
							</td>
							<td class="features__cell features__cell--center">
								Max 3
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
						</tr>

						<tr>
							<td class="features__cell features__cell--bold features__cell--shaded" colspan="5">Economy</td>
						</tr>

						<!-- Balance -->
						<tr>
							<td class="features__cell">Balance</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Withdraw/Deposit -->
						<tr>
							<td class="features__cell">Withdraw/Deposit</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Buy/Sell -->
						<tr>
							<td class="features__cell">Buy/Sell</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Pay -->
						<tr>
							<td class="features__cell">Pay</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Net Worth -->
						<tr>
							<td class="features__cell">Net Worth</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Inventory -->
						<tr>
							<td class="features__cell">Inventory</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Item System -->
						<tr>
							<td class="features__cell">Item System</td>
							<td class="features__cell features__cell--center">
								Max 50 Items
							</td>
							<td class="features__cell features__cell--center">
								Max 65 Items
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
						</tr>

						<!-- Item Information -->
						<tr>
							<td class="features__cell">Item Information</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- TBP -->
						<tr>
							<td class="features__cell">To Be Paid</td>
							<td class="features__cell features__cell--center">
								Max 3 Roles
							</td>
							<td class="features__cell features__cell--center">
								Max 5 Roles
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
							<td class="features__cell features__cell--center">
								Unlimited
							</td>
						</tr>

						<!-- List TBP -->
						<tr>
							<td class="features__cell">List TBP</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<tr>
							<td class="features__cell features__cell--bold features__cell--shaded" colspan="5">Miscellaneous</td>
						</tr>

						<!-- Fun Commands -->
						<tr>
							<td class="features__cell">Fun Commands</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Ping -->
						<tr>
							<td class="features__cell">Ping</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Uptime -->
						<tr>
							<td class="features__cell">Uptime</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Urban Dictionary -->
						<tr>
							<td class="features__cell">Urban Dictionary</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Gif -->
						<tr>
							<td class="features__cell">Gif</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>

						<!-- Bot Information -->
						<tr>
							<td class="features__cell">Bot Information</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
							<td class="features__cell features__cell--center">
								<span class="features__tick"></span>
							</td>
						</tr>


					</tbody>
				</table>
			</div>
		</center>