.serverName{
  padding: 2rem;
}

.serverName h1, .serverName h2{
  color: #fff;
}

.sectionName h1{
  color: #fff;
}

.sectionName p{
  color: #fff;
  background: var(--background-btn);
  cursor: pointer;
}