.center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.col-1 h2 {
  font-size: 54px;
  color: #ffffff;
}

.btn-row {
  margin-top: 2rem;
}

.btn-row a {
  color: var(--background-sidebar);
  background: white;
  padding: 1rem;
  border-radius: 20px;
  text-decoration: none;
}

.btn-row a:hover {
  background: var(--background-sidebar);
  color: #fff;
}